html {
  font-family: 'Press Start 2P', cursive, sans-serif;
  background-image: url(images/matrix.jpg);
}

header, main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#screen-container {
  background: rgba(33,33,33,1);
  width: 300px;
  min-height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.7);
}

#screen {
  background-color: #0D0208;
  width: 275px;
  min-height: 100px;
  border-radius: 5px;
  color: #00FF41;
  text-align: end;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  word-wrap: break-word;
  box-shadow: inset 0px 0px 8px #00FF41;
  border: 1px solid #0D0208;
}

#controls {
  width: 300px;
  height: 376px;
  background: linear-gradient(180deg, rgba(33,33,33,1) 30%, rgb(20, 20, 20) 100%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.7);
}

#operations-value {
  font-size: 12px;
}

#results-value {
  font-size: 20px;
  min-height: 30px;
  padding-top: 10px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  gap: 15px;
}

button {
  border-radius: 100%;
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  background-color: rgb(30, 30, 30);
  color: rgb(148, 148, 148);
  border: 0px solid transparent;
  box-shadow: 2px 2px 10px black;
}

button:hover {
  box-shadow: 0px 0px 3px #00FF41;
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

#bEqual {
  grid-column: 5 / 3;
  border-radius: 50px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #00FF41;
}

